@{
    ViewData["Title"] = "Quadrant View";
}

@model List<TaskInfo>

@*Create a table to display the task name, its due date, category, and a button to complete it. This table shows only the uncompleted tasks*@
    <div class="row">
        <div class="col-6">
            <h1>Quadrant 1</h1>
            <h4>Important/Urgent</h4>
            <table class="table table-bordered table-striped">
                <thead class="cont-weight-bold">
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                        <th>Category</th>
                        <th>Completed</th>
                    </tr>
                </thead>
                <tbody>
                    @*Quadrant 1 Entries in the Database
                    Foreach loop to iterate through each quadrant 1 record in the database. An edit and a delete button allows the user to edit the entry or to delete an entry
                    The same foreach loop exists for each of the four quadrants*@
                    @foreach (var v in Model)
                    {
                        @if (v.Quadrant == 1)
                        {
                            <tr>
                                <td>@v.Task</td>
                                <td>@v.DueDate</td>
                                <td>@v.Category.CategoryName</td>
                                <td><a class="btn btn-sm my-button" asp-controller="Home" asp-action="CheckOffTask" asp-route-id="@v.TaskID">Check Off</a></td>
                                <td><a class="btn btn-sm my-button" asp-controller="Home" asp-action="UpdateTask" asp-route-id="@v.TaskID">Edit</a></td>
                                <td><a class="btn btn-sm my-button" asp-controller="Home" asp-action="ConfirmDelete" asp-route-id="@v.TaskID">Delete</a></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <h1>Quadrant 2</h1>
            <h4>Important/Not Urgent</h4>
            <table class="table table-bordered table-striped">
                <thead class="cont-weight-bold">
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                        <th>Category</th>
                        <th>Task Completed?</th>
                    </tr>
                </thead>
                <tbody>
                    @*Quadrant 1 Entries in the Database*@
                    @foreach (var v in Model)
                    {
                        @if (v.Quadrant == 2)
                        {
                            <tr>
                                <td>@v.Task</td>
                                <td>@v.DueDate</td>
                                <td>@v.Category.CategoryName</td>
                                <td><a class="btn btn-sm my-button" asp-controller="Home" asp-action="CheckOffTask" asp-route-id="@v.TaskID">Check Off</a></td>
                                <td><a class="btn btn-sm my-button" asp-controller="Home" asp-action="UpdateTask" asp-route-id="@v.TaskID">Edit</a></td>
                                <td><a class="btn btn-sm my-button" asp-controller="Home" asp-action="ConfirmDelete" asp-route-id="@v.TaskID">Delete</a></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h1>Quadrant 3</h1>
            <h4>Not Important/Urgent</h4>
            <table class="table table-bordered table-striped">
                <thead class="cont-weight-bold">
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                        <th>Category</th>
                        <th>Completed</th>
                    </tr>
                </thead>
                <tbody>
                    @*Quadrant 1 Entries in the Database*@
                    @foreach (var v in Model)
                    {
                        @if (v.Quadrant == 3)
                        {
                            <tr>
                                <td>@v.Task</td>
                                <td>@v.DueDate</td>
                                <td>@v.Category.CategoryName</td>
                                <td><a class="btn btn-sm my-button" asp-controller="Home" asp-action="CheckOffTask" asp-route-id="@v.TaskID">Check Off</a></td>
                                <td><a class="btn btn-sm my-button" asp-controller="Home" asp-action="UpdateTask" asp-route-id="@v.TaskID">Edit</a></td>
                                <td><a class="btn btn-sm my-button" asp-controller="Home" asp-action="ConfirmDelete" asp-route-id="@v.TaskID">Delete</a></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <h1>Quadrant 4</h1>
            <h4>Not Important/Not Urgent</h4>
            <table class="table table-bordered table-striped">
                <thead class="cont-weight-bold">
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                        <th>Category</th>
                        <th>Completed</th>
                    </tr>
                </thead>
                <tbody>
                    @*Quadrant 1 Entries in the Database*@
                    @foreach (var v in Model)
                    {
                        @if (v.Quadrant == 4)
                        {
                            <tr>
                                <td>@v.Task</td>
                                <td>@v.DueDate</td>
                                <td>@v.Category.CategoryName</td>
                                <td><a class="btn btn-sm my-button" asp-controller="Home" asp-action="CheckOffTask" asp-route-id="@v.TaskID">Check Off</a></td>
                                <td><a class="btn btn-sm my-button" asp-controller="Home" asp-action="UpdateTask" asp-route-id="@v.TaskID">Edit</a></td>
                                <td><a class="btn btn-sm my-button" asp-controller="Home" asp-action="ConfirmDelete" asp-route-id="@v.TaskID">Delete</a></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>